In [1]:
# 필수 라이브러리
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
from IPython.display import Image

%matplotlib inline
%config Inlinebackend.figure_format = 'retina'

# 한글 폰트 설정
mpl.rc('font', family='D2Coding')
# 유니코드에서 음수 부호 설정
mpl.rc('axes', unicode_minus = False)

warnings.filterwarnings('ignore')
sns.set_style("darkgrid")
plt.rc('figure', figsize=(10,8))

In [2]:
# 데이터
train = pd.read_csv('train_scaled.csv')

In [3]:
train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8501 non-null   object
 2   CryoSleep     8481 non-null   object
 3   Cabin1        8590 non-null   object
 4   Cabin2        8590 non-null   float64
 5   combi         8590 non-null   object
 6   Cabin3        8590 non-null   object
 7   Cabin         8590 non-null   object
 8   Destination   8519 non-null   object
 9   Age           8514 non-null   float64
 10  VIP           8490 non-null   object
 11  RoomService   8516 non-null   float64
 12  FoodCourt     8513 non-null   float64
 13  ShoppingMall  8488 non-null   float64
 14  Spa           8518 non-null   float64
 15  VRDeck        8506 non-null   float64
 16  Name          8493 non-null   object
 17  Transported   8693 non-null   bool
dtypes: bool(1), float64(7), object(10)
memory usage: 1.1+ MB

In [5]:
# 더미 할것
# 홈플레닛, 얼린거(불린), 캐빈, 도착지, vip(불린)

# 원-핫 인코딩

In [59]:
df = train.drop(['Name','PassengerId'], axis =1)
df.head()

,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [7]:
# pd.get_dummies(df['HomePlanet'])

In [8]:
# from sklearn.preprocessing import StandardScaler
# # encoding col
# encoding_col = ['HomePlanet', 'CryoSleep','Cabin1','Cabin3', 'Destination']

# # 표준화를 위한 함수 정의
# def dummies(df, encoding_col):
#     for col in encoding_col:
#         x = df[col]
#         df_encode = pd.get_dummies(x)
#        #df = df.drop(col, axis=1)
#         df = df.join(df_encode)
#     return df

In [126]:
train_encoding = pd.get_dummies(df['HomePlanet'])
# 기존의 팀명 컬러 삭제
df=df.drop('HomePlanet',axis=1)
df = df.join(train_encoding)

train_encoding = pd.get_dummies(df['Destination'])
# 기존의 팀명 컬러 삭제
df=df.drop('Destination',axis=1)
df = df.join(train_encoding)

train_encoding = pd.get_dummies(df['Cabin1'])
# 기존의 팀명 컬러 삭제
df=df.drop('Cabin1',axis=1)
df = df.join(train_encoding)

In [60]:
df.columns

Index(['HomePlanet', 'CryoSleep', 'Cabin1', 'Cabin2', 'combi', 'Cabin3',
       'Cabin', 'Destination', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck', 'Transported'],
      dtype='object')

In [61]:
df['Cabin3'].replace({'P': 'True','S': 'False'})

0        True
1       False
2       False
3       False
4       False
        ...
8688     True
8689    False
8690    False
8691    False
8692    False
Name: Cabin3, Length: 8693, dtype: object

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8501 non-null   object
 1   CryoSleep     8693 non-null   bool
 2   Cabin1        8590 non-null   object
 3   Cabin2        8590 non-null   float64
 4   combi         8590 non-null   object
 5   Cabin3        8693 non-null   bool
 6   Cabin         8590 non-null   object
 7   Destination   8519 non-null   object
 8   Age           8514 non-null   float64
 9   VIP           8693 non-null   bool
 10  RoomService   8516 non-null   float64
 11  FoodCourt     8513 non-null   float64
 12  ShoppingMall  8488 non-null   float64
 13  Spa           8518 non-null   float64
 14  VRDeck        8506 non-null   float64
 15  Transported   8693 non-null   bool
dtypes: bool(4), float64(7), object(5)
memory usage: 849.1+ KB

In [127]:
# boolean 변환
df['CryoSleep'] = df['CryoSleep'].astype(bool)
df['VIP'] = df['VIP'].astype(bool)
df['Cabin3'] = df['Cabin3'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CryoSleep      8693 non-null   bool
 1   Cabin2         8590 non-null   float64
 2   combi          8590 non-null   object
 3   Cabin3         8693 non-null   bool
 4   Cabin          8590 non-null   object
 5   Age            8514 non-null   float64
 6   VIP            8693 non-null   bool
 7   RoomService    8516 non-null   float64
 8   FoodCourt      8513 non-null   float64
 9   ShoppingMall   8488 non-null   float64
 10  Spa            8518 non-null   float64
 11  VRDeck         8506 non-null   float64
 12  Transported    8693 non-null   bool
 13  Earth          8693 non-null   uint8
 14  Europa         8693 non-null   uint8
 15  Mars           8693 non-null   uint8
 16  55 Cancri e    8693 non-null   uint8
 17  PSO J318.5-22  8693 non-null   uint8
 18  TRAPPIST-1e    8693 non-null   uint8
 19  A              8693 non-null   uint8
 20  B              8693 non-null   uint8
 21  C              8693 non-null   uint8
 22  D              8693 non-null   uint8
 23  E              8693 non-null   uint8
 24  F              8693 non-null   uint8
 25  G              8693 non-null   uint8
 26  T              8693 non-null   uint8
dtypes: bool(4), float64(7), object(2), uint8(14)
memory usage: 764.2+ KB

# 스케일링

In [128]:
# 스케일 할 값들
col = ['Cabin2', 'Age', 'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
def data_scaled(df, col):
    for i in col:
        data_mean = df[i].mean()
        data_std = df[i].std()
        scaled = (df[i]-data_mean)/data_std
        df[i]=scaled
    return df

In [129]:
data_scaled(df,col)

,CryoSleep,Cabin2,combi,Cabin3,Cabin,Age,VIP,RoomService,FoodCourt,ShoppingMall,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
0,False,-1.170228,B0,True,B/0/P,0.702031,False,-0.336918,-0.284203,-0.287245,...,0,1,0,1,0,0,0,0,0,0
1,False,-1.170228,F0,True,F/0/S,-0.333346,False,-0.173396,-0.278617,-0.245895,...,0,1,0,0,0,0,0,1,0,0
2,False,-1.170228,A0,True,A/0/S,2.013508,True,-0.272409,1.935222,-0.287245,...,0,1,1,0,0,0,0,0,0,0
3,False,-1.170228,A0,True,A/0/S,0.287880,False,-0.336918,0.512084,0.326386,...,0,1,1,0,0,0,0,0,0,0
4,False,-1.168274,F1,True,F/1/S,-0.885547,False,0.117642,-0.240758,-0.037492,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,-0.978724,A98,True,A/98/P,0.840081,True,-0.336918,3.947972,-0.287245,...,0,0,1,0,0,0,0,0,0,0
8689,True,1.758999,G1499,True,G/1499/S,-0.747496,False,-0.336918,-0.284203,-0.287245,...,1,0,0,0,0,0,0,0,1,0
8690,False,1.760953,G1500,True,G/1500/S,-0.195295,False,-0.336918,-0.284203,2.809025,...,0,1,0,0,0,0,0,0,1,0
8691,False,0.017878,E608,True,E/608/S,0.218855,False,-0.336918,0.366853,-0.287245,...,0,0,0,0,0,0,1,0,0,0
8692,False,0.017878,E608,True,E/608/S,1.047156,False,-0.147893,2.625379,-0.287245,...,0,1,0,0,0,0,1,0,0,0

# 결측값 제거 후 클러스터링
# 클러스터링 데이터 활용하여 결측값 처리
# NA 드롭하여 캐빈의 결측값 제거
# 상관계수, 다중공선성 확인

# 결측값 제거 후 클러스터링

In [130]:
df_new = df.dropna(axis=0)
df_new.shape

(7544, 27)

In [131]:
target = df_new.Transported

In [132]:
dt = df_new.drop(['Transported','Cabin3','Cabin','Destination'],axis=1)

KeyError: "['HomePlanet' 'Cabin1' 'Destination'] not found in axis"

In [68]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7226 entries, 0 to 8692
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CryoSleep     7226 non-null   bool
 1   Cabin2        7226 non-null   float64
 2   Age           7226 non-null   float64
 3   VIP           7226 non-null   bool
 4   RoomService   7226 non-null   float64
 5   FoodCourt     7226 non-null   float64
 6   ShoppingMall  7226 non-null   float64
 7   Spa           7226 non-null   float64
 8   VRDeck        7226 non-null   float64
dtypes: bool(2), float64(7)
memory usage: 465.7 KB

In [18]:
dt.head()

,CryoSleep,Cabin2,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,False,-1.170228,0.702031,False,-0.336918,-0.284203,-0.287245,-0.273582,-0.266065
1,False,-1.170228,-0.333346,False,-0.173396,-0.278617,-0.245895,0.209603,-0.227659
2,False,-1.170228,2.013508,True,-0.272409,1.935222,-0.287245,5.636409,-0.223295
3,False,-1.170228,0.287880,False,-0.336918,0.512084,0.326386,2.656331,-0.097603
4,False,-1.168274,-0.885547,False,0.117642,-0.240758,-0.037492,0.223685,-0.264320

In [19]:
dt.columns

Index(['CryoSleep', 'Cabin2', 'Age', 'VIP', 'RoomService', 'FoodCourt',
       'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

In [20]:
# from sklearn.cluster import KMeans
# kmeans=KMeans(n_clusters=3, random_state=109)
# kmeans.fit(dt)

KMeans(n_clusters=3, random_state=109)

In [21]:
# pred = kmeans.predict(dt)
# pred

array([0, 0, 2, ..., 1, 0, 0])

In [22]:
# dt['cluster'] = pred
# dt.head()

,CryoSleep,Cabin2,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,cluster
0,False,-1.170228,0.702031,False,-0.336918,-0.284203,-0.287245,-0.273582,-0.266065,0
1,False,-1.170228,-0.333346,False,-0.173396,-0.278617,-0.245895,0.209603,-0.227659,0
2,False,-1.170228,2.013508,True,-0.272409,1.935222,-0.287245,5.636409,-0.223295,2
3,False,-1.170228,0.287880,False,-0.336918,0.512084,0.326386,2.656331,-0.097603,0
4,False,-1.168274,-0.885547,False,0.117642,-0.240758,-0.037492,0.223685,-0.264320,0

In [23]:
from sklearn.metrics import silhouette_score
k_range = range(2,30)

best_k = -1
best_silhouette_score = -1

for k in k_range:
    km = KMeans(n_clusters = k, random_state=109)
    km.fit(dt)
    clusters= km.predict(dt)
    
    score = silhouette_score(dt, clusters)
    
    print('k: {}, score: {}'.format(k, score))
    if score > best_silhouette_score:
        best_k = k
        best_silhouette_score = score
        
print('\n best K: {}, best Score: {}'.format(best_k, best_silhouette_score))

k: 2, score: 0.556109734655568
k: 3, score: 0.2511151546319914
k: 4, score: 0.26878077726135924
k: 5, score: 0.278372332341575
k: 6, score: 0.24532041502449253
k: 7, score: 0.29969617716634595
k: 8, score: 0.26545204350149015
k: 9, score: 0.23194128662978852
k: 10, score: 0.27111086311261695
k: 11, score: 0.2355785179430845
k: 12, score: 0.24733407539212918
k: 13, score: 0.24423084094966438
k: 14, score: 0.2517385795165291
k: 15, score: 0.24801941119836696
k: 16, score: 0.22723753321332124
k: 17, score: 0.1989550545436548
k: 18, score: 0.22750487046332732
k: 19, score: 0.22400213062591018
k: 20, score: 0.21702553517106596
k: 21, score: 0.21829732046975484
k: 22, score: 0.22021036641719516
k: 23, score: 0.22466085388839918
k: 24, score: 0.22815813680882785
k: 25, score: 0.2295877867251775
k: 26, score: 0.22861983694753638
k: 27, score: 0.2290683088208697
k: 28, score: 0.23712581658091017
k: 29, score: 0.2374092172093771

 best K: 2, best Score: 0.556109734655568

In [24]:
from sklearn.model_selection import train_test_split

In [ ]:
# X_train,X_test,y_train,y_test = train_test_split(dt.drop(['VIP'],axis=1),dt.VIP,random_state=109)

# CryoSleep 결측값 처리를 위한 XGBoost 분류

In [135]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7544 entries, 0 to 8692
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CryoSleep      7544 non-null   bool
 1   Cabin2         7544 non-null   float64
 2   combi          7544 non-null   object
 3   Cabin3         7544 non-null   bool
 4   Cabin          7544 non-null   object
 5   Age            7544 non-null   float64
 6   VIP            7544 non-null   bool
 7   RoomService    7544 non-null   float64
 8   FoodCourt      7544 non-null   float64
 9   ShoppingMall   7544 non-null   float64
 10  Spa            7544 non-null   float64
 11  VRDeck         7544 non-null   float64
 12  Transported    7544 non-null   bool
 13  Earth          7544 non-null   uint8
 14  Europa         7544 non-null   uint8
 15  Mars           7544 non-null   uint8
 16  55 Cancri e    7544 non-null   uint8
 17  PSO J318.5-22  7544 non-null   uint8
 18  TRAPPIST-1e    7544 non-null   uint8
 19  A              7544 non-null   uint8
 20  B              7544 non-null   uint8
 21  C              7544 non-null   uint8
 22  D              7544 non-null   uint8
 23  E              7544 non-null   uint8
 24  F              7544 non-null   uint8
 25  G              7544 non-null   uint8
 26  T              7544 non-null   uint8
dtypes: bool(4), float64(7), object(2), uint8(14)
memory usage: 722.0+ KB

In [147]:
X_train, X_test, y_train, y_test = train_test_split(df_new.drop(['CryoSleep', 'combi', 'Cabin', 'Transported'],axis=1),df_new.CryoSleep,
                                                    random_state=109)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train)

In [148]:
import xgboost as xgb

trdm = xgb.DMatrix(data=X_train, label=y_train)
tdm = xgb.DMatrix(data=X_test, label=y_test)
vdm = xgb.DMatrix(data=X_val, label=y_val)

In [149]:
params = {'max_depth':3,
         'eta':0.05,
         'objective':'binary:logistic',
         'eval_metric':'logloss'
         }
num_rounds = 400

In [150]:
eval_list = [(trdm, 'train'), (vdm, 'eval')]

xgb_model = xgb.train(params = params, dtrain=trdm, num_boost_round=num_rounds,
                     early_stopping_rounds=50, evals=eval_list)

[0]	train-logloss:0.65931	eval-logloss:0.66078
[1]	train-logloss:0.62855	eval-logloss:0.63173
[2]	train-logloss:0.60060	eval-logloss:0.60502
[3]	train-logloss:0.57500	eval-logloss:0.58092
[4]	train-logloss:0.55161	eval-logloss:0.55860
[5]	train-logloss:0.52982	eval-logloss:0.53747
[6]	train-logloss:0.50990	eval-logloss:0.51830
[7]	train-logloss:0.49137	eval-logloss:0.50038
[8]	train-logloss:0.47434	eval-logloss:0.48450
[9]	train-logloss:0.45857	eval-logloss:0.46937
[10]	train-logloss:0.44383	eval-logloss:0.45515
[11]	train-logloss:0.43026	eval-logloss:0.44258
[12]	train-logloss:0.41762	eval-logloss:0.43050
[13]	train-logloss:0.40519	eval-logloss:0.41827
[14]	train-logloss:0.39397	eval-logloss:0.40749
[15]	train-logloss:0.38348	eval-logloss:0.39704
[16]	train-logloss:0.37311	eval-logloss:0.38682
[17]	train-logloss:0.36317	eval-logloss:0.37672
[18]	train-logloss:0.35438	eval-logloss:0.36835
[19]	train-logloss:0.34563	eval-logloss:0.35936
[20]	train-logloss:0.33779	eval-logloss:0.35160
[21]	train-logloss:0.32998	eval-logloss:0.34364
[22]	train-logloss:0.32254	eval-logloss:0.33602
[23]	train-logloss:0.31587	eval-logloss:0.32974
[24]	train-logloss:0.30919	eval-logloss:0.32312
[25]	train-logloss:0.30321	eval-logloss:0.31750
[26]	train-logloss:0.29757	eval-logloss:0.31192
[27]	train-logloss:0.29189	eval-logloss:0.30607
[28]	train-logloss:0.28649	eval-logloss:0.30048
[29]	train-logloss:0.28136	eval-logloss:0.29542
[30]	train-logloss:0.27654	eval-logloss:0.29035
[31]	train-logloss:0.27214	eval-logloss:0.28625
[32]	train-logloss:0.26800	eval-logloss:0.28218
[33]	train-logloss:0.26383	eval-logloss:0.27831
[34]	train-logloss:0.25986	eval-logloss:0.27437
[35]	train-logloss:0.25606	eval-logloss:0.27038
[36]	train-logloss:0.25265	eval-logloss:0.26740
[37]	train-logloss:0.24941	eval-logloss:0.26423
[38]	train-logloss:0.24611	eval-logloss:0.26079
[39]	train-logloss:0.24299	eval-logloss:0.25746
[40]	train-logloss:0.24004	eval-logloss:0.25440
[41]	train-logloss:0.23726	eval-logloss:0.25149
[42]	train-logloss:0.23467	eval-logloss:0.24929
[43]	train-logloss:0.23225	eval-logloss:0.24719
[44]	train-logloss:0.22991	eval-logloss:0.24496
[45]	train-logloss:0.22754	eval-logloss:0.24265
[46]	train-logloss:0.22543	eval-logloss:0.24062
[47]	train-logloss:0.22329	eval-logloss:0.23832
[48]	train-logloss:0.22122	eval-logloss:0.23648
[49]	train-logloss:0.21928	eval-logloss:0.23439
[50]	train-logloss:0.21753	eval-logloss:0.23296
[51]	train-logloss:0.21587	eval-logloss:0.23141
[52]	train-logloss:0.21406	eval-logloss:0.22956
[53]	train-logloss:0.21240	eval-logloss:0.22794
[54]	train-logloss:0.21095	eval-logloss:0.22683
[55]	train-logloss:0.20938	eval-logloss:0.22507
[56]	train-logloss:0.20791	eval-logloss:0.22392
[57]	train-logloss:0.20650	eval-logloss:0.22253
[58]	train-logloss:0.20527	eval-logloss:0.22149
[59]	train-logloss:0.20395	eval-logloss:0.22013
[60]	train-logloss:0.20283	eval-logloss:0.21905
[61]	train-logloss:0.20164	eval-logloss:0.21799
[62]	train-logloss:0.20051	eval-logloss:0.21702
[63]	train-logloss:0.19939	eval-logloss:0.21594
[64]	train-logloss:0.19834	eval-logloss:0.21476
[65]	train-logloss:0.19737	eval-logloss:0.21380
[66]	train-logloss:0.19647	eval-logloss:0.21322
[67]	train-logloss:0.19550	eval-logloss:0.21211
[68]	train-logloss:0.19467	eval-logloss:0.21149
[69]	train-logloss:0.19381	eval-logloss:0.21076
[70]	train-logloss:0.19303	eval-logloss:0.20987
[71]	train-logloss:0.19214	eval-logloss:0.20948
[72]	train-logloss:0.19141	eval-logloss:0.20883
[73]	train-logloss:0.19058	eval-logloss:0.20842
[74]	train-logloss:0.18983	eval-logloss:0.20751
[75]	train-logloss:0.18906	eval-logloss:0.20726
[76]	train-logloss:0.18841	eval-logloss:0.20674
[77]	train-logloss:0.18769	eval-logloss:0.20644
[78]	train-logloss:0.18705	eval-logloss:0.20578
[79]	train-logloss:0.18636	eval-logloss:0.20559
[80]	train-logloss:0.18574	eval-logloss:0.20538
[81]	train-logloss:0.18518	eval-logloss:0.20476
[82]	train-logloss:0.18465	eval-logloss:0.20434
[83]	train-logloss:0.18405	eval-logloss:0.20420
[84]	train-logloss:0.18342	eval-logloss:0.20399
[85]	train-logloss:0.18283	eval-logloss:0.20349
[86]	train-logloss:0.18226	eval-logloss:0.20345
[87]	train-logloss:0.18182	eval-logloss:0.20323
[88]	train-logloss:0.18134	eval-logloss:0.20313
[89]	train-logloss:0.18092	eval-logloss:0.20265
[90]	train-logloss:0.18042	eval-logloss:0.20263
[91]	train-logloss:0.17997	eval-logloss:0.20233
[92]	train-logloss:0.17953	eval-logloss:0.20235
[93]	train-logloss:0.17915	eval-logloss:0.20184
[94]	train-logloss:0.17875	eval-logloss:0.20150
[95]	train-logloss:0.17829	eval-logloss:0.20152
[96]	train-logloss:0.17794	eval-logloss:0.20106
[97]	train-logloss:0.17757	eval-logloss:0.20092
[98]	train-logloss:0.17718	eval-logloss:0.20089
[99]	train-logloss:0.17678	eval-logloss:0.20085
[100]	train-logloss:0.17641	eval-logloss:0.20048
[101]	train-logloss:0.17608	eval-logloss:0.20008
[102]	train-logloss:0.17572	eval-logloss:0.20016
[103]	train-logloss:0.17537	eval-logloss:0.19987
[104]	train-logloss:0.17499	eval-logloss:0.19947
[105]	train-logloss:0.17462	eval-logloss:0.19948
[106]	train-logloss:0.17432	eval-logloss:0.19927
[107]	train-logloss:0.17404	eval-logloss:0.19891
[108]	train-logloss:0.17368	eval-logloss:0.19866
[109]	train-logloss:0.17337	eval-logloss:0.19878
[110]	train-logloss:0.17309	eval-logloss:0.19846
[111]	train-logloss:0.17276	eval-logloss:0.19854
[112]	train-logloss:0.17244	eval-logloss:0.19838
[113]	train-logloss:0.17219	eval-logloss:0.19826
[114]	train-logloss:0.17168	eval-logloss:0.19814
[115]	train-logloss:0.17117	eval-logloss:0.19771
[116]	train-logloss:0.17094	eval-logloss:0.19745
[117]	train-logloss:0.17063	eval-logloss:0.19734
[118]	train-logloss:0.17034	eval-logloss:0.19718
[119]	train-logloss:0.17012	eval-logloss:0.19706
[120]	train-logloss:0.16964	eval-logloss:0.19696
[121]	train-logloss:0.16941	eval-logloss:0.19670
[122]	train-logloss:0.16887	eval-logloss:0.19625
[123]	train-logloss:0.16844	eval-logloss:0.19607
[124]	train-logloss:0.16825	eval-logloss:0.19599
[125]	train-logloss:0.16776	eval-logloss:0.19558
[126]	train-logloss:0.16741	eval-logloss:0.19539
[127]	train-logloss:0.16715	eval-logloss:0.19542
[128]	train-logloss:0.16696	eval-logloss:0.19534
[129]	train-logloss:0.16667	eval-logloss:0.19515
[130]	train-logloss:0.16649	eval-logloss:0.19494
[131]	train-logloss:0.16621	eval-logloss:0.19475
[132]	train-logloss:0.16580	eval-logloss:0.19462
[133]	train-logloss:0.16561	eval-logloss:0.19435
[134]	train-logloss:0.16526	eval-logloss:0.19415
[135]	train-logloss:0.16488	eval-logloss:0.19409
[136]	train-logloss:0.16470	eval-logloss:0.19396
[137]	train-logloss:0.16454	eval-logloss:0.19397
[138]	train-logloss:0.16421	eval-logloss:0.19388
[139]	train-logloss:0.16400	eval-logloss:0.19371
[140]	train-logloss:0.16368	eval-logloss:0.19350
[141]	train-logloss:0.16343	eval-logloss:0.19333
[142]	train-logloss:0.16327	eval-logloss:0.19328
[143]	train-logloss:0.16294	eval-logloss:0.19299
[144]	train-logloss:0.16267	eval-logloss:0.19286
[145]	train-logloss:0.16235	eval-logloss:0.19280
[146]	train-logloss:0.16218	eval-logloss:0.19274
[147]	train-logloss:0.16195	eval-logloss:0.19272
[148]	train-logloss:0.16180	eval-logloss:0.19253
[149]	train-logloss:0.16155	eval-logloss:0.19242
[150]	train-logloss:0.16131	eval-logloss:0.19238
[151]	train-logloss:0.16101	eval-logloss:0.19233
[152]	train-logloss:0.16086	eval-logloss:0.19241
[153]	train-logloss:0.16070	eval-logloss:0.19224
[154]	train-logloss:0.16051	eval-logloss:0.19219
[155]	train-logloss:0.16027	eval-logloss:0.19214
[156]	train-logloss:0.16006	eval-logloss:0.19204
[157]	train-logloss:0.15960	eval-logloss:0.19159
[158]	train-logloss:0.15947	eval-logloss:0.19156
[159]	train-logloss:0.15929	eval-logloss:0.19152
[160]	train-logloss:0.15917	eval-logloss:0.19140
[161]	train-logloss:0.15893	eval-logloss:0.19136
[162]	train-logloss:0.15872	eval-logloss:0.19133
[163]	train-logloss:0.15845	eval-logloss:0.19139
[164]	train-logloss:0.15828	eval-logloss:0.19133
[165]	train-logloss:0.15814	eval-logloss:0.19140
[166]	train-logloss:0.15793	eval-logloss:0.19130
[167]	train-logloss:0.15751	eval-logloss:0.19084
[168]	train-logloss:0.15729	eval-logloss:0.19083
[169]	train-logloss:0.15716	eval-logloss:0.19081

[170]	train-logloss:0.15698	eval-logloss:0.19066
[171]	train-logloss:0.15677	eval-logloss:0.19061
[172]	train-logloss:0.15639	eval-logloss:0.19034
[173]	train-logloss:0.15596	eval-logloss:0.18998
[174]	train-logloss:0.15585	eval-logloss:0.18991
[175]	train-logloss:0.15572	eval-logloss:0.18991
[176]	train-logloss:0.15556	eval-logloss:0.18995
[177]	train-logloss:0.15537	eval-logloss:0.18992
[178]	train-logloss:0.15523	eval-logloss:0.18990
[179]	train-logloss:0.15499	eval-logloss:0.18989
[180]	train-logloss:0.15486	eval-logloss:0.18967
[181]	train-logloss:0.15468	eval-logloss:0.18960
[182]	train-logloss:0.15454	eval-logloss:0.18959
[183]	train-logloss:0.15434	eval-logloss:0.18959
[184]	train-logloss:0.15400	eval-logloss:0.18946
[185]	train-logloss:0.15377	eval-logloss:0.18940
[186]	train-logloss:0.15357	eval-logloss:0.18932
[187]	train-logloss:0.15345	eval-logloss:0.18923
[188]	train-logloss:0.15333	eval-logloss:0.18902
[189]	train-logloss:0.15313	eval-logloss:0.18899
[190]	train-logloss:0.15296	eval-logloss:0.18898
[191]	train-logloss:0.15284	eval-logloss:0.18898
[192]	train-logloss:0.15267	eval-logloss:0.18901
[193]	train-logloss:0.15259	eval-logloss:0.18907
[194]	train-logloss:0.15248	eval-logloss:0.18899
[195]	train-logloss:0.15237	eval-logloss:0.18892
[196]	train-logloss:0.15230	eval-logloss:0.18899
[197]	train-logloss:0.15219	eval-logloss:0.18899
[198]	train-logloss:0.15209	eval-logloss:0.18891
[199]	train-logloss:0.15184	eval-logloss:0.18877
[200]	train-logloss:0.15164	eval-logloss:0.18874
[201]	train-logloss:0.15157	eval-logloss:0.18880
[202]	train-logloss:0.15141	eval-logloss:0.18885
[203]	train-logloss:0.15131	eval-logloss:0.18870
[204]	train-logloss:0.15106	eval-logloss:0.18878
[205]	train-logloss:0.15100	eval-logloss:0.18884
[206]	train-logloss:0.15090	eval-logloss:0.18878
[207]	train-logloss:0.15069	eval-logloss:0.18887
[208]	train-logloss:0.15054	eval-logloss:0.18885
[209]	train-logloss:0.15048	eval-logloss:0.18891
[210]	train-logloss:0.15043	eval-logloss:0.18893
[211]	train-logloss:0.15022	eval-logloss:0.18895
[212]	train-logloss:0.15013	eval-logloss:0.18883
[213]	train-logloss:0.14990	eval-logloss:0.18869
[214]	train-logloss:0.14980	eval-logloss:0.18869
[215]	train-logloss:0.14971	eval-logloss:0.18864
[216]	train-logloss:0.14966	eval-logloss:0.18865
[217]	train-logloss:0.14944	eval-logloss:0.18847
[218]	train-logloss:0.14936	eval-logloss:0.18842
[219]	train-logloss:0.14920	eval-logloss:0.18840
[220]	train-logloss:0.14915	eval-logloss:0.18845
[221]	train-logloss:0.14908	eval-logloss:0.18841
[222]	train-logloss:0.14889	eval-logloss:0.18849
[223]	train-logloss:0.14871	eval-logloss:0.18827
[224]	train-logloss:0.14854	eval-logloss:0.18822
[225]	train-logloss:0.14849	eval-logloss:0.18827
[226]	train-logloss:0.14833	eval-logloss:0.18823
[227]	train-logloss:0.14821	eval-logloss:0.18835
[228]	train-logloss:0.14804	eval-logloss:0.18828
[229]	train-logloss:0.14795	eval-logloss:0.18820
[230]	train-logloss:0.14780	eval-logloss:0.18820
[231]	train-logloss:0.14776	eval-logloss:0.18826
[232]	train-logloss:0.14764	eval-logloss:0.18819
[233]	train-logloss:0.14746	eval-logloss:0.18821
[234]	train-logloss:0.14732	eval-logloss:0.18826
[235]	train-logloss:0.14727	eval-logloss:0.18831
[236]	train-logloss:0.14716	eval-logloss:0.18843
[237]	train-logloss:0.14712	eval-logloss:0.18849
[238]	train-logloss:0.14705	eval-logloss:0.18845
[239]	train-logloss:0.14691	eval-logloss:0.18840
[240]	train-logloss:0.14678	eval-logloss:0.18845
[241]	train-logloss:0.14667	eval-logloss:0.18846
[242]	train-logloss:0.14650	eval-logloss:0.18855
[243]	train-logloss:0.14637	eval-logloss:0.18860
[244]	train-logloss:0.14633	eval-logloss:0.18865
[245]	train-logloss:0.14617	eval-logloss:0.18864
[246]	train-logloss:0.14610	eval-logloss:0.18859
[247]	train-logloss:0.14598	eval-logloss:0.18855
[248]	train-logloss:0.14586	eval-logloss:0.18860
[249]	train-logloss:0.14581	eval-logloss:0.18865
[250]	train-logloss:0.14559	eval-logloss:0.18836
[251]	train-logloss:0.14547	eval-logloss:0.18836
[252]	train-logloss:0.14543	eval-logloss:0.18841
[253]	train-logloss:0.14528	eval-logloss:0.18841
[254]	train-logloss:0.14518	eval-logloss:0.18843
[255]	train-logloss:0.14507	eval-logloss:0.18849
[256]	train-logloss:0.14501	eval-logloss:0.18844
[257]	train-logloss:0.14485	eval-logloss:0.18852
[258]	train-logloss:0.14474	eval-logloss:0.18856
[259]	train-logloss:0.14470	eval-logloss:0.18857
[260]	train-logloss:0.14459	eval-logloss:0.18859
[261]	train-logloss:0.14448	eval-logloss:0.18855
[262]	train-logloss:0.14442	eval-logloss:0.18852
[263]	train-logloss:0.14433	eval-logloss:0.18865
[264]	train-logloss:0.14423	eval-logloss:0.18871
[265]	train-logloss:0.14418	eval-logloss:0.18872
[266]	train-logloss:0.14408	eval-logloss:0.18873
[267]	train-logloss:0.14393	eval-logloss:0.18878
[268]	train-logloss:0.14383	eval-logloss:0.18883
[269]	train-logloss:0.14379	eval-logloss:0.18888
[270]	train-logloss:0.14362	eval-logloss:0.18873
[271]	train-logloss:0.14335	eval-logloss:0.18856
[272]	train-logloss:0.14325	eval-logloss:0.18858
[273]	train-logloss:0.14321	eval-logloss:0.18859
[274]	train-logloss:0.14313	eval-logloss:0.18871
[275]	train-logloss:0.14303	eval-logloss:0.18871
[276]	train-logloss:0.14283	eval-logloss:0.18862
[277]	train-logloss:0.14267	eval-logloss:0.18859
[278]	train-logloss:0.14264	eval-logloss:0.18864
[279]	train-logloss:0.14242	eval-logloss:0.18856
[280]	train-logloss:0.14237	eval-logloss:0.18853
[281]	train-logloss:0.14221	eval-logloss:0.18841

In [37]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, roc_auc_score, f1_score

def  get_clf_eval(y_test, pred=None, pred_proba=None):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    precision = precision_score(y_test, pred)
    recall = recall_score(y_test, pred)
    f1 = f1_score(y_test, pred)
    roc_auc = roc_auc_score(y_test, pred_proba)
    
    print('오차 행렬')
    print(confusion)
 
    print('정확도: {0:.4f}, 정밀도: {1:.4f}, \
    재현율: {2:.4f}, F1: {3:.4f}, AUC:{4:.4f}'.format(accuracy, precision, recall, f1, roc_auc))

## 훈련셋 결과

In [151]:
train_pred_probs = xgb_model.predict(trdm)
print('predict() 수행 결과값을 10개만 표시, 예측 확률 값으로 표시됨')
print(np.round(train_pred_probs[:10],3))

train_preds = [1 if x > 0.5 else 0 for x in train_pred_probs]
print('예측값 10개만 표시:', train_preds[:10])

predict() 수행 결과값을 10개만 표시, 예측 확률 값으로 표시됨
[0.03  0.015 0.022 0.011 0.007 0.968 0.964 0.951 0.416 0.009]
예측값 10개만 표시: [0, 0, 0, 0, 0, 1, 1, 1, 0, 0]

In [152]:
get_clf_eval(y_train, train_preds, train_pred_probs)

오차 행렬
[[2552  142]
 [  87 1462]]
정확도: 0.9460, 정밀도: 0.9115,     재현율: 0.9438, F1: 0.9274, AUC:0.9888

## 테스트셋 결과

In [153]:
pred_probs = xgb_model.predict(tdm)
print('predict() 수행 결과값을 10개만 표시, 예측 확률 값으로 표시됨')
print(np.round(pred_probs[:10],3))

preds = [1 if x > 0.5 else 0 for x in pred_probs]
print('예측값 10개만 표시:', preds[:10])

predict() 수행 결과값을 10개만 표시, 예측 확률 값으로 표시됨
[0.004 0.012 0.964 0.025 0.549 0.587 0.973 0.018 0.457 0.014]
예측값 10개만 표시: [0, 0, 1, 0, 1, 1, 1, 0, 0, 0]

In [154]:
get_clf_eval(y_test, preds, pred_probs)

오차 행렬
[[1113   65]
 [  50  658]]
정확도: 0.9390, 정밀도: 0.9101,     재현율: 0.9294, F1: 0.9196, AUC:0.9708

## 검증셋 결과

In [155]:
v_pred_probs = xgb_model.predict(vdm)
print('predict() 수행 결과값을 10개만 표시, 예측 확률 값으로 표시됨')
print(np.round(v_pred_probs[:10],3))

v_preds = [1 if x > 0.5 else 0 for x in v_pred_probs]
print('예측값 10개만 표시:', v_preds[:10])

predict() 수행 결과값을 10개만 표시, 예측 확률 값으로 표시됨
[0.04  0.013 0.495 0.964 0.952 0.008 0.01  0.711 0.964 0.02 ]
예측값 10개만 표시: [0, 0, 0, 1, 1, 0, 0, 1, 1, 0]

In [156]:
get_clf_eval(y_val, v_preds, v_pred_probs)

오차 행렬
[[832  63]
 [ 34 486]]
정확도: 0.9314, 정밀도: 0.8852,     재현율: 0.9346, F1: 0.9093, AUC:0.9707

## CryoSleep 결측치 처리

In [108]:
c_na = pd.read_excel('na_sleep.xlsx')

In [146]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7544 entries, 0 to 8692
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CryoSleep      7544 non-null   bool
 1   Cabin2         7544 non-null   float64
 2   combi          7544 non-null   object
 3   Cabin3         7544 non-null   bool
 4   Cabin          7544 non-null   object
 5   Age            7544 non-null   float64
 6   VIP            7544 non-null   bool
 7   RoomService    7544 non-null   float64
 8   FoodCourt      7544 non-null   float64
 9   ShoppingMall   7544 non-null   float64
 10  Spa            7544 non-null   float64
 11  VRDeck         7544 non-null   float64
 12  Transported    7544 non-null   bool
 13  Earth          7544 non-null   uint8
 14  Europa         7544 non-null   uint8
 15  Mars           7544 non-null   uint8
 16  55 Cancri e    7544 non-null   uint8
 17  PSO J318.5-22  7544 non-null   uint8
 18  TRAPPIST-1e    7544 non-null   uint8
 19  A              7544 non-null   uint8
 20  B              7544 non-null   uint8
 21  C              7544 non-null   uint8
 22  D              7544 non-null   uint8
 23  E              7544 non-null   uint8
 24  F              7544 non-null   uint8
 25  G              7544 non-null   uint8
 26  T              7544 non-null   uint8
dtypes: bool(4), float64(7), object(2), uint8(14)
memory usage: 722.0+ KB

In [118]:
c_na.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Cabin2         210 non-null    int64
 1   Cabin3         210 non-null    bool
 2   Age            209 non-null    float64
 3   VIP            210 non-null    bool
 4   RoomService    208 non-null    float64
 5   FoodCourt      207 non-null    float64
 6   ShoppingMall   202 non-null    float64
 7   Spa            205 non-null    float64
 8   VRDeck         203 non-null    float64
 9   Earth          210 non-null    uint8
 10  Europa         210 non-null    uint8
 11  Mars           210 non-null    uint8
 12  55 Cancri e    210 non-null    uint8
 13  PSO J318.5-22  210 non-null    uint8
 14  TRAPPIST-1e    210 non-null    uint8
 15  A              210 non-null    uint8
 16  B              210 non-null    uint8
 17  C              210 non-null    uint8
 18  D              210 non-null    uint8
 19  E              210 non-null    uint8
 20  F              210 non-null    uint8
 21  G              210 non-null    uint8
 22  T              210 non-null    uint8
dtypes: bool(2), float64(6), int64(1), uint8(14)
memory usage: 14.9 KB

In [110]:
c_na['VIP'] = c_na['VIP'].astype(bool)
c_na['Cabin3'] = c_na['Cabin3'].astype(bool)

In [115]:
c_na.drop('Cabin', axis=1, inplace=True)

In [117]:
train_encoding = pd.get_dummies(c_na['HomePlanet'])
# 기존의 팀명 컬러 삭제
c_na=c_na.drop('HomePlanet',axis=1)
c_na = c_na.join(train_encoding)

train_encoding = pd.get_dummies(c_na['Destination'])
# 기존의 팀명 컬러 삭제
c_na=c_na.drop('Destination',axis=1)
c_na = c_na.join(train_encoding)

train_encoding = pd.get_dummies(c_na['Cabin1'])
# 기존의 팀명 컬러 삭제
c_na=c_na.drop('Cabin1',axis=1)
c_na = c_na.join(train_encoding)

In [164]:
data_scaled(c_na, col)

,Cabin2,Cabin3,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Earth,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
0,-1.166976,True,-1.756820,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,1,...,0,1,0,0,0,0,0,0,1,0
1,-1.149089,True,-0.064456,False,-0.296369,-0.324012,1.128512,-0.311705,-0.151206,1,...,0,1,0,0,0,0,0,1,0,0
2,-1.143127,True,-0.132150,False,-0.296369,-0.324012,-0.395406,-0.313952,NaN,0,...,0,1,0,0,0,0,0,1,0,0
3,-1.168964,True,2.034076,False,-0.296369,0.351459,-0.395406,-0.308336,-0.271083,1,...,0,1,0,0,0,0,1,0,0,0
4,-1.131202,True,1.627909,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,1,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,-0.578690,True,1.086352,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,0,...,0,0,0,0,1,0,0,0,0,0
206,1.786380,True,-1.350653,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,1,...,0,1,0,0,0,0,0,0,1,0
207,1.770481,True,0.274017,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,1,...,0,1,0,0,0,0,0,0,1,0
208,2.571424,True,1.086352,False,1.097667,0.372032,-0.395406,-0.301597,NaN,1,...,0,1,0,0,0,0,0,1,0,0
209,-0.998042,True,0.138628,False,-0.296369,1.875898,-0.395406,-0.311705,0.030897,0,...,0,1,1,0,0,0,0,0,0,0

In [165]:
c_na.head()

,Cabin2,Cabin3,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Earth,...,PSO J318.5-22,TRAPPIST-1e,A,B,C,D,E,F,G,T
0,-1.166976,True,-1.756820,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,1,...,0,1,0,0,0,0,0,0,1,0
1,-1.149089,True,-0.064456,False,-0.296369,-0.324012,1.128512,-0.311705,-0.151206,1,...,0,1,0,0,0,0,0,1,0,0
2,-1.143127,True,-0.132150,False,-0.296369,-0.324012,-0.395406,-0.313952,NaN,0,...,0,1,0,0,0,0,0,1,0,0
3,-1.168964,True,2.034076,False,-0.296369,0.351459,-0.395406,-0.308336,-0.271083,1,...,0,1,0,0,0,0,1,0,0,0
4,-1.131202,True,1.627909,False,-0.296369,-0.324012,-0.395406,-0.313952,-0.271083,1,...,1,0,0,0,0,0,0,0,1,0

In [166]:
ndm = xgb.DMatrix(data=c_na)
n_pred_probs = xgb_model.predict(ndm)

In [167]:
c_na_p = pd.DataFrame(np.round(n_pred_probs,3))

In [169]:
c_na_p.to_csv('c_na_p.csv')

# Destination 분류

## 분류하기 위한 피처 정리

In [40]:
dest_df = train.drop(['Name','PassengerId'], axis =1)
dest_df.head()

,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True

In [41]:
train_encoding = pd.get_dummies(df['HomePlanet'])
# df=df.drop('HomePlanet',axis=1)
dest_df = dest_df.join(train_encoding)

train_encoding = pd.get_dummies(df['Cabin1'])
# df=df.drop('Cabin1',axis=1)
dest_df = dest_df.join(train_encoding)

In [42]:
dest_df.head()

,HomePlanet,CryoSleep,Cabin1,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,...,Europa,Mars,A,B,C,D,E,F,G,T
0,Europa,False,B,0.0,B0,P,B/0/P,TRAPPIST-1e,39.0,False,...,1,0,0,1,0,0,0,0,0,0
1,Earth,False,F,0.0,F0,S,F/0/S,TRAPPIST-1e,24.0,False,...,0,0,0,0,0,0,0,1,0,0
2,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,58.0,True,...,1,0,1,0,0,0,0,0,0,0
3,Europa,False,A,0.0,A0,S,A/0/S,TRAPPIST-1e,33.0,False,...,1,0,1,0,0,0,0,0,0,0
4,Earth,False,F,1.0,F1,S,F/1/S,TRAPPIST-1e,16.0,False,...,0,0,0,0,0,0,0,1,0,0

In [43]:
dest_df = dest_df.dropna(axis=0)
dest_df.shape

(6877, 27)

In [44]:
dest_df=dest_df.drop('HomePlanet',axis=1)
dest_df=dest_df.drop('Cabin1',axis=1)

In [45]:
dest_df.shape

(6877, 25)

In [ ]:
col = ['Cabin2', 'Age', 'RoomService','FoodCourt','ShoppingMall','Spa','VRDeck']
def data_scaled(df, col):
    for i in col:
        data_mean = df[i].mean()
        data_std = df[i].std()
        scaled = (df[i]-data_mean)/data_std
        df[i]=scaled
    return df

In [46]:
data_scaled(dest_df,col)

,CryoSleep,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,...,Europa,Mars,A,B,C,D,E,F,G,T
0,False,-1.164821,B0,P,B/0/P,TRAPPIST-1e,0.696459,False,-0.335210,-0.286514,...,1,0,0,1,0,0,0,0,0,0
1,False,-1.164821,F0,S,F/0/S,TRAPPIST-1e,-0.334261,False,-0.173863,-0.281120,...,0,0,0,0,0,0,0,1,0,0
2,False,-1.164821,A0,S,A/0/S,TRAPPIST-1e,2.002036,True,-0.271559,1.856645,...,1,0,1,0,0,0,0,0,0,0
3,False,-1.164821,A0,S,A/0/S,TRAPPIST-1e,0.284171,False,-0.335210,0.482410,...,1,0,1,0,0,0,0,0,0,0
4,False,-1.162869,F1,S,F/1/S,TRAPPIST-1e,-0.883977,False,0.113304,-0.244562,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,False,-0.973507,A98,P,A/98/P,55 Cancri e,0.833888,True,-0.335210,3.800232,...,1,0,1,0,0,0,0,0,0,0
8689,True,1.761512,G1499,S,G/1499/S,PSO J318.5-22,-0.746548,False,-0.335210,-0.286514,...,0,0,0,0,0,0,0,0,1,0
8690,False,1.763465,G1500,S,G/1500/S,TRAPPIST-1e,-0.196831,False,-0.335210,-0.286514,...,0,0,0,0,0,0,0,0,1,0
8691,False,0.022111,E608,S,E/608/S,55 Cancri e,0.215456,False,-0.335210,0.342170,...,1,0,0,0,0,0,1,0,0,0
8692,False,0.022111,E608,S,E/608/S,TRAPPIST-1e,1.040032,False,-0.148699,2.523086,...,1,0,0,0,0,0,1,0,0,0

In [47]:
dest_df.head()

,CryoSleep,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,...,Europa,Mars,A,B,C,D,E,F,G,T
0,False,-1.164821,B0,P,B/0/P,TRAPPIST-1e,0.696459,False,-0.335210,-0.286514,...,1,0,0,1,0,0,0,0,0,0
1,False,-1.164821,F0,S,F/0/S,TRAPPIST-1e,-0.334261,False,-0.173863,-0.281120,...,0,0,0,0,0,0,0,1,0,0
2,False,-1.164821,A0,S,A/0/S,TRAPPIST-1e,2.002036,True,-0.271559,1.856645,...,1,0,1,0,0,0,0,0,0,0
3,False,-1.164821,A0,S,A/0/S,TRAPPIST-1e,0.284171,False,-0.335210,0.482410,...,1,0,1,0,0,0,0,0,0,0
4,False,-1.162869,F1,S,F/1/S,TRAPPIST-1e,-0.883977,False,0.113304,-0.244562,...,0,0,0,0,0,0,0,1,0,0

In [48]:
dest_df.Destination.unique()

array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e'], dtype=object)

In [49]:
dest_df.Destination.replace({'TRAPPIST-1e': 0,'PSO J318.5-22': 1, '55 Cancri e' : 2}, inplace=True)

In [50]:
dest_df.head()

,CryoSleep,Cabin2,combi,Cabin3,Cabin,Destination,Age,VIP,RoomService,FoodCourt,...,Europa,Mars,A,B,C,D,E,F,G,T
0,False,-1.164821,B0,P,B/0/P,0,0.696459,False,-0.335210,-0.286514,...,1,0,0,1,0,0,0,0,0,0
1,False,-1.164821,F0,S,F/0/S,0,-0.334261,False,-0.173863,-0.281120,...,0,0,0,0,0,0,0,1,0,0
2,False,-1.164821,A0,S,A/0/S,0,2.002036,True,-0.271559,1.856645,...,1,0,1,0,0,0,0,0,0,0
3,False,-1.164821,A0,S,A/0/S,0,0.284171,False,-0.335210,0.482410,...,1,0,1,0,0,0,0,0,0,0
4,False,-1.162869,F1,S,F/1/S,0,-0.883977,False,0.113304,-0.244562,...,0,0,0,0,0,0,0,1,0,0

In [51]:
dest_df['CryoSleep'] = dest_df['CryoSleep'].astype(bool)
dest_df['VIP'] = dest_df['VIP'].astype(bool)
dest_df['Cabin3'] = dest_df['Cabin3'].astype(bool)

In [52]:
dest_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6877 entries, 0 to 8692
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CryoSleep     6877 non-null   bool
 1   Cabin2        6877 non-null   float64
 2   combi         6877 non-null   object
 3   Cabin3        6877 non-null   bool
 4   Cabin         6877 non-null   object
 5   Destination   6877 non-null   int64
 6   Age           6877 non-null   float64
 7   VIP           6877 non-null   bool
 8   RoomService   6877 non-null   float64
 9   FoodCourt     6877 non-null   float64
 10  ShoppingMall  6877 non-null   float64
 11  Spa           6877 non-null   float64
 12  VRDeck        6877 non-null   float64
 13  Transported   6877 non-null   bool
 14  Earth         6877 non-null   uint8
 15  Europa        6877 non-null   uint8
 16  Mars          6877 non-null   uint8
 17  A             6877 non-null   uint8
 18  B             6877 non-null   uint8
 19  C             6877 non-null   uint8
 20  D             6877 non-null   uint8
 21  E             6877 non-null   uint8
 22  F             6877 non-null   uint8
 23  G             6877 non-null   uint8
 24  T             6877 non-null   uint8
dtypes: bool(4), float64(7), int64(1), object(2), uint8(11)
memory usage: 691.7+ KB

## 테스트셋 훈련셋 검증셋 분리

In [66]:
dest_df.columns

Index(['CryoSleep', 'Cabin2', 'combi', 'Cabin3', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Transported', 'Earth', 'Europa', 'Mars', 'A', 'B', 'C', 'D', 'E', 'F',
       'G', 'T'],
      dtype='object')

In [53]:
X_train, X_test, y_train, y_test = train_test_split(dest_df.drop(['Destination', 'Transported', 'Cabin', 'combi'],axis=1),dest_df.Destination,
                                                    random_state=109)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train)

## 랜덤 포레스트 모델 세팅

In [ ]:
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier

## XGB 모델 세팅

In [73]:
trdm = xgb.DMatrix(data=X_train, label=y_train)
tdm = xgb.DMatrix(data=X_test, label=y_test)
vdm = xgb.DMatrix(data=X_val, label=y_val)

In [74]:
eval_list = [(trdm, 'train'), (vdm, 'eval')]

xgb_model = xgb.train(params = params, dtrain=trdm, num_boost_round=num_rounds,
                     early_stopping_rounds=50, evals=eval_list)

XGBoostError: [17:38:34] C:/buildkite-agent/builds/buildkite-windows-cpu-autoscaling-group-i-03de431ba26204c4d-1/xgboost/xgboost-ci-windows/src/objective/regression_obj.cu:148: label must be in [0,1] for logistic regression

## 훈련셋 결과